Django==4.2.11
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-unfold==0.40.0
python-dotenv==1.0.1
PyJWT==2.8.0
pytest==8.0.2
pytest-django==4.8.0
black==24.2.0
stripe==5.0.0

# Production server & database
gunicorn==22.0.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
whitenoise==6.11.0
